@import 'chatUtilities';
@import 'messageContainer';

#chat-container {
    border: 2px solid #787878;
    border-radius: 5px;
    color: #000;
    font-family: 'Segoe UI', sans-serif;
    height: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    padding: 0;

    @media (min-height:320px) and (max-height: 500px) {
        height:250px;
    }

    #chatroom {
        height: 100%;
    }
}
