/*Mixin for styling messages*/
@mixin messageStyle {
  max-width: 80%;
  padding: 10px;
  border-radius: 10px;
  word-break: break-word;
  text-align: left;
  margin: 5px 0;
}

#message-container {
    height: 80%;
    text-align: center;

    @media (min-height:320px) and (max-height: 500px) {
        height: 62%;
    }

    #message-list-container {
        height: 96%;
        overflow: auto;
        padding: 10px;
        display: flex;
        flex-direction: column;

        @media (min-height:320px) and (max-height: 500px) {
            height: 86%;
        }

        .sender {
            @include messageStyle;
            align-self: flex-end;
            background-color: #F5DEB3;
        }

        .recipient {
            @include messageStyle;
            align-self: flex-start;
            background-color: #E6E6FA;

            &.group-msg > span:first-of-type {
            font-style: italic;
            font-weight: 600;
        }
        }
    }
}
